<nav class="navbar navbar-expand-lg navbar-light d-flex">
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/img/books.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <button class="btn btn-main-menu" routerLink="/">Home</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-main-menu" routerLink="/catalog">Catalog</button>
        </li>
        <li class="nav-item">
           <!-- todo -->
          <app-log-in *ngIf="!isUserLoggedIn"></app-log-in>
        </li>
        <li class="nav-item" *ngIf="!isUserLoggedIn">
          <app-register ></app-register>
          <!-- <a class="nav-link" href="#">Register</a> -->
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
            <button class="btn btn-main-menu" href="#">Add Book</button>
          </li>
          <!-- <li class="nav-item">
            <button class="nav-link" href="#" (click)="test()" >Add Book TEST</button>
          </li> -->
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <button class="btn btn-main-menu" routerLink="/favorites">Favorites</button>
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <button class="btn btn-main-menu" href="#" (click)="logout()">Logout</button>
          </li>
      </ul>
    </div>
  </nav>
